<div class="ui container">
  <h1 class="wow fadeInDown">Software Projects</h1>

  <h2 class="wow fadeInRight">Ruby</h2>
  <hr>
  <br>
  <div class="ui three column stackable grid wow fadeInRight">
    <div class="column">
      <div class="header">The Craft Central Integrated Consignment System:</div>
      <div class="description">Ongoing development, final project for MIS 121/122 a consignment system that tracks the inventory and the sales of different consignment stores of <a href="https://thecraftcentral.com" target="_blank">The Craft Central.</a></div>
    </div>
    <div class="column">
      <div class="header">RubShop:</div>
      <div class="description">Blue Hacks 2018 application. Created within 24 hours, a sustainable development platform that aims to create zero-waste communities between communities, businesses and consumers.
      <br>
      <br>
      <a href="https://github.com/tripeersyou/rubshop" target="_blank">Source Code</a>
    </div>
    </div>
    <div class="column">
      <div class="header">Point of Sale System:</div>
      <div class="description">Final Project for MIS 21, Introduction to Applications Development. Created a point of sale system with a built-in REST-ful API. Served as the team's lead developer.
      <br>
      <br>      
      <a href="http://pos-mis-21-project.herokuapp.com/" target="_blank">Visit Site</a>
      </div>
    </div>
  </div>

  <h2 class="wow fadeInLeft">JavaScript</h2>
  <hr>
  <br>
  <div class="ui three column stackable grid wow fadeInLeft">
    <div class="column">
      <div class="header">Influenseer:</div>
      <div class="description">An app for P&amp;G Moonshot 2018. Created with a NodeJS Stack an application that uses machine learning to determine future micro-influencers.
      <br>
      <br>      
      <a href="https://influenseer.herokuapp.com" target="_blank">Visit Site</a> | <a href="https://github.com/tripeersyou/influenseer" target="_blank">Source Code</a>
      </div>
    </div>
    <div class="column">
      <div class="header">Twitter Analytics:</div>
      <div class="description">An NodeJS MEAN Stack Application, that uses the data from the Twitter's API. Currently in development
      <br>
      <br>      
      <a href="https://github.com/tripersyou/twitter-analytics" target="_blank">Souce Code</a>
      </div>
    </div>
    <div class="column">
      <div class="header">Async-Blog:</div>
      <div class="description">First excursion with NodeJS, a simple Express application that uses AJAX to modify the data in the application without reloading the page</div>
      <br>
      <br>
      <a href="https://github.com/tripeersyou/async-blog">Source Code</a> | <a href="https://async-blog.herokuapp.com">Visit Site</a>
    </div>
    <div class="column">
      <div class="header">Tic-Tac-Toe:</div>
      <div class="description"> A simple two-player Tic-Tac-Toe game made for the browser. Uses JavaScript to for the game logic.
      <br>
      <br>
      <a href="https://github.com/tripeersyou/tic-tac-toe">Source Code</a> | <a href="https://tripeersyou.github.io/tic-tac-toe/" target="_blank">Visit Site</a>
      </div>
    </div>
    <div class="column">
      <div class="header">MISA IM Summit Website:</div>
      <div class="description"> Made the information and registration website for Ateneo MISA's flagship project/event: IM Summit. A two-day workshop and business case competition for college students.
      <br>
      <br>
      <a href="https://github.com/tripeersyou/im-summit">Source Code</a> | <a href="https://imsummit.herokuapp.com/" target="_blank">Visit Site</a>
      </div>
    </div>
  </div>

  <h2 class="wow fadeInUp">PHP</h2>
  <hr>
  <br>
  <div class="ui two column stackable grid wow fadeInUp">
    <div class="column">
      <div class="header">RecWeek 2017 Registration Systems:</div>
      <div class="description">As part of the eServices Cluster of Ateneo MISA, created the registration system of members for the following organizations: Ateneo MISA, Ateneo Psyche, Loyola Film Circle (LFC), Company of Ateneo Dancers (CADS), TUGON and League of Ateneo Physicists (LeaPs)</div>
    </div>
    <div class="column">
      <div class="header">COA OSR:</div>
      <div class="description">An application used to record and determine of the traffic flow of students within the days of RecWeek. Used when a student enters the RecWeek venue is registered by the COA officer.</div>
    </div>
  </div>

</div>