<div class="ui container">
  <h1>Software Projects</h1>

  <h2>Ruby</h2>
  <hr>

  <div class="ui three column stackable grid">
    <div class="column">
      <div class="header">The Craft Central Integrated Consignment System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nihil incidunt obcaecati cupiditate fuga dolor, maxime enim eveniet, dolorum soluta repellat sapiente et deleniti eligendi vel facilis accusantium laboriosam! Odit.</div>
    </div>
    <div class="column">
      <div class="header">RubShop:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus mollitia quibusdam porro, iste, maiores aperiam sed suscipit, quia dolorem maxime odio! Consequatur magni distinctio accusantium itaque odit omnis mollitia. Ab.</div>
    </div>
    <div class="column">
      <div class="header">Point of Sale System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et expedita unde magni nemo rem, animi voluptate vitae fugiat culpa harum asperiores officia, fugit quod tempore repellendus porro cupiditate, dolore perferendis.</div>
    </div>
  </div>
    
  <h2>Python</h2>
  <hr>

  <div class="ui three column stackable grid">
    <div class="column">
      <div class="header">The Craft Central Integrated Consignment System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nihil incidunt obcaecati cupiditate fuga dolor, maxime enim eveniet, dolorum soluta repellat sapiente et deleniti eligendi vel facilis accusantium laboriosam! Odit.</div>
    </div>
    <div class="column">
      <div class="header">RubShop:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus mollitia quibusdam porro, iste, maiores aperiam sed suscipit, quia dolorem maxime odio! Consequatur magni distinctio accusantium itaque odit omnis mollitia. Ab.</div>
    </div>
    <div class="column">
      <div class="header">Point of Sale System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et expedita unde magni nemo rem, animi voluptate vitae fugiat culpa harum asperiores officia, fugit quod tempore repellendus porro cupiditate, dolore perferendis.</div>
    </div>
  </div>

  <h2>JavaScript</h2>
  <hr>

  <div class="ui three column stackable grid">
    <div class="column">
      <div class="header">The Craft Central Integrated Consignment System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nihil incidunt obcaecati cupiditate fuga dolor, maxime enim eveniet, dolorum soluta repellat sapiente et deleniti eligendi vel facilis accusantium laboriosam! Odit.</div>
    </div>
    <div class="column">
      <div class="header">RubShop:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus mollitia quibusdam porro, iste, maiores aperiam sed suscipit, quia dolorem maxime odio! Consequatur magni distinctio accusantium itaque odit omnis mollitia. Ab.</div>
    </div>
    <div class="column">
      <div class="header">Point of Sale System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et expedita unde magni nemo rem, animi voluptate vitae fugiat culpa harum asperiores officia, fugit quod tempore repellendus porro cupiditate, dolore perferendis.</div>
    </div>
  </div>

  <h2>C#</h2>
  <hr>

  <div class="ui three column stackable grid">
    <div class="column">
      <div class="header">The Craft Central Integrated Consignment System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nihil incidunt obcaecati cupiditate fuga dolor, maxime enim eveniet, dolorum soluta repellat sapiente et deleniti eligendi vel facilis accusantium laboriosam! Odit.</div>
    </div>
    <div class="column">
      <div class="header">RubShop:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus mollitia quibusdam porro, iste, maiores aperiam sed suscipit, quia dolorem maxime odio! Consequatur magni distinctio accusantium itaque odit omnis mollitia. Ab.</div>
    </div>
    <div class="column">
      <div class="header">Point of Sale System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et expedita unde magni nemo rem, animi voluptate vitae fugiat culpa harum asperiores officia, fugit quod tempore repellendus porro cupiditate, dolore perferendis.</div>
    </div>
  </div>

  <h2>PHP</h2>
  <hr>

  <div class="ui three column stackable grid">
    <div class="column">
      <div class="header">The Craft Central Integrated Consignment System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nihil incidunt obcaecati cupiditate fuga dolor, maxime enim eveniet, dolorum soluta repellat sapiente et deleniti eligendi vel facilis accusantium laboriosam! Odit.</div>
    </div>
    <div class="column">
      <div class="header">RubShop:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus mollitia quibusdam porro, iste, maiores aperiam sed suscipit, quia dolorem maxime odio! Consequatur magni distinctio accusantium itaque odit omnis mollitia. Ab.</div>
    </div>
    <div class="column">
      <div class="header">Point of Sale System:</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et expedita unde magni nemo rem, animi voluptate vitae fugiat culpa harum asperiores officia, fugit quod tempore repellendus porro cupiditate, dolore perferendis.</div>
    </div>
  </div>

</div>