<div class="ui container">
  <h1>MISA Platform</h1>
  <small>Vice President for eServices</small>
  <hr>
  <br>
  <div class="ui three column stackable grid">
    <div class="column wow fadeInLeft">
      <h2>Amazon Web Services Migration</h2>
      <small>It's time to modernize.</small>
      <hr>
      Our current hosting website isn't secure and is costing us a lot of resources to implement, <a href="https://www.theverge.com/2018/2/8/16991254/chrome-not-secure-marked-http-encryption-ssl" target="_blank">our websites will be tagged as insecure by modern web browsers such as Google Chrome.</a> A secure website ensures that eServices are following the standard of the web regarding information security of our clients and stakeholders. Also this new hosting removes the language limit for MISA. Our current hosting only allows for PHP applications, which limits the pool of developers, and not all MISA members are equipped with this skill. AWS secures our websites, allows for multiple languages to be hosted, allowing our developers to shine, and is very cost effective.
    </div>
    <div class="column wow fadeInUp">
      <h2>AVP for Systems Documentation</h2>
      <small>For consistent eServices documents.</small>
      <hr>
      The Internal Systems Development position is going out and the Systems Documentation position is going in, mainly for two specific reasons. The Internals positions job can be easily be covered by templates by the cluster since the MISA almost always only requires registration systems and some information websites that usually come from the Events Cluster, the only thing that is different is the design. The new AVP position will be beneficial to the cluster and to MISA because we will now provide proper documentation before an external system will be deployed (useful for future redesigns or fixes) and MISA can keep track of it's clients properly.
    </div>
    <div class="column wow fadeInRight">
      <h2>eServices Version Control</h2>
      <code>cd eservs &amp;&amp; git init</code>
      <hr>
      MISA and eServices will now harness the power of <code>git</code> through <a href="https://gitlab.com" target="_blank">GitLab</a>, having a central account where all repositories and projects will live (maybe forever). This will allow easy sharing of files between project teams and easy monitoring of progress by the VP for eServices and the AVP for Systems Documentation. <code>Git</code> also makes moving the files to the Linux cloud machine easier and therefore a much easy and more enjoyable deploying of our projects.
    </div>
  </div>
  <br>
  <hr>
  <p id="learn-more" class="wow tada" data-wow-delay="1s">TO LEARN MORE ABOUT MY PLATFORM CLICK <a href="https://drive.google.com/drive/folders/1VMyh9oK3FQ96tjgRxVakVyhBwA9F6X64" target="_blank">HERE</a>.</p>
  <img src="assets/MISA Logo white.png" class="ui image wow rotateIn"  style="height:7em; margin: auto;" alt="MISA Logo" id="misa_logo">
</div>