/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgb(17, 17, 17) !important;
  color: gainsboro !important;
  padding-top: 5em !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300 !important;
}
