<div id="content">
  <h1 class="title wow fadeIn" data-wow-duration="2s">Hi, I am Francis Oliver!</h1>
  <div class="ui stackable grid">
    <div class="row">
      <div class="wow fadeInLeft eight wide column left">
        <img src="https://avatars3.githubusercontent.com/u/26473858?s=400&v=4" alt="logo">
      </div>
      <div class="eight wide column right animated fadeInRight">
        <p>I am a full-stack developer from Taguig City, Philippines and a university student taking up Management Information Systems at the Ateneo de Manila University.</p>
        <p>I am currently the Associate Vice President for IT Skills Training and Evaluation of <a href="http://misa.org.ph" target="_blank">Ateneo Management Information Systems Association</a>.</p>
        <p>I currently work as an intern for a start-up: <a href="https://exora.ph" target="_blank">Exora</a> as a server-side Ruby on Rails developer. I have also worked as an intern for the <a href="http://ajwcc.ateneo.edu" target="_blank">Ateneo Java Wireless Competency Center</a> also as a Ruby and client side JavaScript developer for the <a href="http://ebayanihan.ateneo.edu">eBayanihan</a> project.</p>
        <p>I am currently running as the next Vice President for eServices of Ateneo MISA see a glimpse of my platform <a routerLink="misa-platform"> here</a> or read the full version <a href="" target="_blank">here.</a></p>
      </div>
    </div>
  </div>
</div>